.user-home{
  display:flex;
  flex-direction: column;
  gap:18px;
}
.top-dash{
    width:100%;
    display: flex;
    gap: 18px;
}
.top-dash-item{
    width: calc(100% / 4);
    height: 150px;
    padding: 10px;
    background-color: azure;
    
}

.top-dash-item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.dashboard-header-icon{
    font-size: 25px;
   
}

.top-dash-item-body>{
    display: flex;
    flex-direction: column;
    
    
}
.top-dash-item-body>div{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
}


.dash-section-2{
   display: flex;
   justify-content: space-between;
   gap:18px
   
}

.dash-section-2-wide{
    width: 75%;
    height: 300px;
    background-color: yellow;
}

.dash-section-2-slim{
    width: 35%;

}